﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>


</head>
<body>
    <script>
        function Car (Make, Model, Colour, Price) {
            this.Make = Make;
            this.Model = Model;
            this.Colour = Colour;
            this.Price = Price;
        }

        var Cars = [
                   new Car("Ford", "KA", "Green", 5000),
                   new Car("Ferrari", "LaFerrari", "Red", 350000),
                   new Car("Ferrari", "F12Berlinetta", "Red", 280000),
                   new Car("Fiat", "Punto", "Blue", 9000),
                   new Car("Ford", "Focus", "Silver", 8000),
                   new Car("Vauxhall", "Corsa", "Black", 4900)
                   ];

        function Showroom(cars) {
            this.cars = cars;
            var totalPrice = 0;
            this.getWorth = function () {

                for (var i = 0; i < this.cars.length ; i++) {
                    totalPrice += this.cars[i].Price;
                }

            }
            return totalPrice

            //var carList = [];
            //this.findCars = function (property, value) {
            //    for (var i = 0; i < this.cars.length ; i++) {
            //        if (this.cars[i].property == value) {
            //            carList.push = cars[i];
            //        }
            //    }

            //}
            //return carList
            //alert(carList);



        }

        document.write(Cars[1].Model);


    </script>
</body>
</html>
