﻿@using AngularFun.Models


<head>
    <style>
        .tablehead > td {
            font-weight:bold;
            border:1px solid black;
        }

        .tablenames{
            border:1px solid grey;
            border-left-color:black;
            border-top-color:black;
            border-bottom-color:black;
        }

        .tableages{
            border:1px solid grey;
            border-right-color:black;
            border-top-color:black;
            border-bottom-color:black;
        }
    </style>
</head>

<div ng-app="moduleName">

    <!-- Declare the section driven by a given controller -->
    <div ng-controller="controllerName">
        <div class="row">
            <div class="col-md-4">
                <h1>Angular is cool!</h1>

                <br />
                <table>
                    <tr class="tablehead">
                        <td>Name</td>
                        <td>Age</td>
                    </tr>
                    <tr ng-repeat="blark in people | filter:query | orderBy:predicate">
                        <td class="tablenames">{{ blark.Name }}</td>
                        <td class="tableages">{{ blark.Age }}</td>
                    </tr>
                    <tr class="tablehead">
                        <td>Average age</td>
                        <td>{{ average() }}</td>
                    </tr>
                </table>

                <br />
                <input type="text" ng-model="query" placeholder="Search..." />
                Sort by: <a href="#" ng-click="sortByName()">name</a> | <a href="#" ng-click="sortByAge()">age</a> &nbsp;<button ng-click="remove()">Remove!</button>
            </div>
            <div class="col-md-8">
                <h1>{{ selectedName }} is {{ selectedAge }} years old!</h1>

                <ul>
                    <li ng-repeat="person in people"><a href="#" ng-click="indexFinder(person)">{{person.Name}}</a></li>
                </ul>

                <button ng-click="prev()">Previous</button><button ng-click="next()">Next</button>
                <hr />


                <!-- new form to add people to the array -->


                <form class="form-horizontal" ng-submit="handleNewPerson()">
                    <div ng-class="{'form-group':true, 'has-error': validationResults && !validationResults.inputName.ok}">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" ng-model="newFormName" placeholder="Name">
                            <span ng-show="validationResults.inputName.message" class="help-block" >
                                Error: {{ validationResults.inputName.message }}
                            </span>
                        </div>
                        
                    </div>                    

                    <div ng-class="{'form-group':true, 'has-error': validationResults && !validationResults.inputAge.ok}">
                        <label for="inputAge" class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="inputAge" ng-model="newFormAge" placeholder="Age">
                            <span ng-show="validationResults.inputAge.message" class="help-block">
                                Error: {{ validationResults.inputAge.message }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Add Person</button>
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>

</div>

<!-- Likely written in external .JS file -->
<script>
    // setup the module / controller for our app!
    // build the module, and in it, build a controller...
    angular.module('moduleName', []).controller('controllerName', function ($scope, $http) {

        // write into the scope
       
        var personIndex = 0;

        var getPromise = $http.get('/api/Person');
        //what to do when we get a 200 OK success from the server containing the people
        getPromise.success(function (people) {
            //assigning people from server into the scope, so it may be read by the view
            $scope.people = people;
            $scope.selectedName = people[personIndex].Name;
            $scope.selectedAge = people[personIndex].Age;
            //average needs to go up here for some reason because it updates automatically
            $scope.average = function () {
                var aver = 0;
                var numFiltered = 0;
                for (var i = 0; i < $scope.people.length; i++) {
                    if ($scope.people[i].Name.indexOf($scope.query) > -1) {
                        aver += $scope.people[i].Age;
                        numFiltered += 1;
                    };
                };
                if (numFiltered == 0) { numFiltered = 1 };
                aver = aver / numFiltered;
                return aver;
            };
        });

        

        //what to do when we fail
        getPromise.error(function () {
            alert('Failure');
        });


        //$scope.addPerson = function(n,a) {
        //    var add = { name: n, age: a };
            
        //    var newPerson = new Person($scope.newFormName, $scope.newFormAge);
        //    var postPromise = $http.post('/api/Person', newPerson);

        //    $scope.people.push(add);
        //    $scope.n = '';
        //    $scope.a = '';
        //};

        

        $scope.sortByName = function () {
            $scope.predicate = 'name';
        };

        $scope.sortByAge = function () {
            $scope.predicate = 'age';
        };

        $scope.remove = function () {
            for (var i = 0; i < $scope.people.length; i++) {
                if ($scope.people[i].Name == $scope.query) {
                    $scope.people.splice(i, 1);
                }
            }
        };

        

        

        $scope.indexFinder = function (person) {
            personIndex = $scope.people.indexOf(person);
            $scope.selectedName = $scope.people[personIndex].Name;
            $scope.selectedAge = $scope.people[personIndex].Age;
        };

        $scope.next = function () {
            personIndex++
            if (personIndex >= $scope.people.length) {
                personIndex = 0;
            }
            $scope.selectedName = $scope.people[personIndex].Name;
            $scope.selectedAge = $scope.people[personIndex].Age;
        };

        $scope.prev = function () {
            personIndex--
            if (personIndex < 0) {
                personIndex = $scope.people.length;
            }
            $scope.selectedName = $scope.people[personIndex].Name;
            $scope.selectedAge = $scope.people[personIndex].Age;
        };

        function Person(name, age) {
            this.Name = name;
            this.Age = age;
        };

        //will trigger on submission of a new person
        //1. will validate the form data
        //2. if validation fails, will put data into scope detailing the reason for failure
        //3. if validation succeeds, add new person to $scope.people array
        //4. later, notify server of a new person via ajax
        $scope.handleNewPerson = function () {

            //this object will represent all the validation results for all inputs
            var validationResults = {
                inputName: undefined,
                inputAge: undefined
            };
            

            //note: can put these inline (in vaildationResults object) to save space

            $scope.validationResults = validationResults;


            //this IF should check name to see if it's there

            if ($scope.newFormName != null) {
                validationResults.inputName = {
                    ok: true,
                    message: ''
                };
            }
            else {
                validationResults.inputName = {
                    ok: false,
                    message: 'Please enter a name.'
                };
            };


            //this IF should check age to see if -ve
            
            if ($scope.newFormAge >= 0) {
                validationResults.inputAge = {
                    ok: true,
                    message: ''
                };
                
            }
            else if ($scope.newFormAge == null) {
                validationResults.inputAge = {
                    ok: false,
                    message: 'Please enter an age.'
                };
            }
            else {
                validationResults.inputAge = {
                    ok: false,
                    message: 'Age cannot be negative.'
                };
            };
            //COMMENT YAY
            //ANOTHER COMMENT YAY

            //It is now the next day and I've made another comment! Crazy!
            //if age and name are both validated, this adds it to the array.
            if ($scope.validationResults.inputName.message || $scope.validationResults.inputAge.message) { }
            else {
                var newPerson = new Person($scope.newFormName, $scope.newFormAge);
                var postPromise = $http.post('/api/Person', newPerson);
                $scope.newFormAge = '';
                $scope.newFormName = '';
            }
            
            //if ($scope.validationResults.inputName.message || $scope.validationResults.inputAge.message) { }
            //else {
            //    $scope.addPerson($scope.newFormName, $scope.newFormAge);
            //    $scope.newFormAge = '';
            //    $scope.newFormName = '';
            //}



        };

        //now initialise list of people want shown
        //this will be done using the $http service (make sure to ask for it by name)
        //1. we will issue an http request to /api/Person
        //2. we will get back a JSON result (Angular can help us make sense of it)
        //3. populate $scope.people variable (NOTE: FOR FUTURE, USE A FEATURED PERSON FUNCTION FOR THE TOP RESULT RATHER THAN SELECTEDNAME/AGE STUFF)

        

    });
</script>